.login100-form-logo {
    background-color: #ffffff !important;
}

@media only screen and (max-width: 1400px) {
    .mt-100vh {
        margin-top: 10vh;
    }

    .login-logo {
        position: absolute !important;
        z-index: 999 !important;
        right: 0 !important;
        left: 0 !important;
        top: 10px !important;
        margin: auto !important;
    }

}
@media (min-width: 992px){
    .modal-lg {
        max-width: 1000px !important;
    }
}
.show-legend-error{
    border:1px solid red !important;
    transition: .5s;
}
.legend-error{
    float: right;
    color: red;
    transition: .5s;
}

@media only screen and (max-width: 600px) {
    #remove-scroll {
        height: 80vh;
        overflow: scroll;
    }
    .sidemenu{
        height: 100%!important;
        overflow: scroll!important;
    }

    .page-logo{
        width: 65%!important;
    }
    .slimScrollDiv{
        height: 100%!important;
        overflow: auto;
    }
    .m-w-50{
        width:50%!important;
    }
    .m-mt-1{
        margin-top:2px;
    }
    .th-w{
        width:120px!important;
    }
}

.modal-dialog{
    margin: 14rem auto!important;
}

.bold-class{
    font-weight: bold;
    font-family: Arial,table-bordered
}

.normal-class {
    font-family: Arial, Helvetica, sans-serif;
}
.hide-error-text {
    display: none;
}

.login-logo {
    position: absolute;
    z-index: 999;
    right: 0;
    left: 0;
    top: 12vh;
    margin: auto;
}
.fee-type-add-button{
    margin-top:30px;
}
.mt-100vh {
    margin-top: 5vh;
    background: #2fa7ff;
}
/* .show-table-column{
    display : block;
}
.hide-table-column{
    display : none ;
} */

.br-1{
    border-right: 1px solid rgb(168, 168, 168);
}

.msg-box {
    position: absolute;
    top: 20px;
    z-index: 10;
    right: 5px;
    color: #fff;
    box-shadow: 0 8px 6px -6px #0000008a;
    border-radius: 10px;
    padding: 12px;
}

.msg-box-danger {
    background: #ea2b17c9;
}

.msg-box-success {
    background: #1eab0dc9;
}

button.btn-pink {
    background: #2fa7ff !important;
    border: #2fa7ff !important;
    font-weight: bold;
}

button.btn-pink:hover {
    background: #2fa7ff !important;
    border: #2fa7ff !important;
    font-weight: bold;
}

.navbar-collapse .nav-item:hover .nav-item:active {
    background: #2fa7ff !important;
}

.nav-link:hover .nav-link:active {
    color: #2fa7ff !important;
}

.nav-link a:hover {
    color: #2fa7ff !important;
}

.mdl-progress>.progressbar {
    background-color: #2fa7ff !important;
}

.progressbar {
    background-color: #2fa7ff !important;
}


.round {
    position: relative;
    width: 40px;
}

.round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: default;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
}

.check-text {
    height: 7px;
    left: 8px;
    position: absolute;
    top: 1px;
}

.late-text{
    font-size: 10px !important;
    margin-top: 4px;
    margin-left: -5px;
}

.dob-width{
    width: 100px !important;
}

.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked+label {
    background-color: #66bb6a;
    border-color: #66bb6a;
}

.round input[type="checkbox"]:checked+label:after {
    opacity: 1;
}

.flex-container {
    display: flex;
    align-items: stretch;
}

.round input[type="checkbox"]:checked+label {
    background-color: #66bb6a;
    border-color: #66bb6a;
    color: #000
}

.round-d input[type="checkbox"]:checked+label {
    background-color: #f70707d1;
    border-color: #f70707d1;
    color: #000
}
.round-o input[type="checkbox"]:checked+label {
    background-color:orangered;
    border-color: orangered;
    color: #000
}

.round-l input[type="checkbox"]:checked+label {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #000
}

.round-t input[type="checkbox"]:checked+label {
    background-color: #17a2b8;
    border-color: #17a2b8;
    color: #fff;
}

#swal2-title {
    font-size: 1rem !important;
}


.slimScrollBar{
    width: 0.9em !important;
}

.switchToggle .slider:before{
    height: 17px!important;
    width: 17px!important;
    left: 6px!important;
}
.switchToggle{
    width: 60px;
    height: 24px!important;
}
.move-modal{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto !important;
}

.delete-attachment{
    color: #fff;
    background-color: #007bff;
    font-weight: bold;
    position: relative;
    right: 10px;
    /* padding: 10px; */
    top: 47px;
    float: right;
    width: 23px;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
}
.delete-document{
    color: #fff;
    background-color: #007bff;
    font-weight: bold;
    position: relative;
    right: 20px;
    top: -1px;
    float: right;
    width: 23px;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
}

.comm-notification{
    padding: 0.53rem 0.2rem!important;
    font-size: 10px!important;
    line-height: 0.55em!important;
    height: 20px!important;
    min-width: 20px!important;
}

.radio-size{
    font-size: 28px!important;
}
.radio-font{
    position: relative;
    left: 7px;
    top: -18px;
    font-family: Poppins,sans-serif;
    font-size: 16px!important;
    color: #000;
    font-weight: 600;
    width: 32px!important;
}
.radio-font-f{
    position: relative;
    left: -16px;
    top: -4px;
    font-family: Poppins,sans-serif;
    font-size: 16px!important;
    font-weight: 600;
    color: #000;
}
.w-33{
    width:33px!important;
}
.radioicon-green input[type="radio"]:checked + label .fa-circle {
    display: block;
    color: rgb(47, 197, 2);
}
a>.checkbox input[type="checkbox"] {
    opacity: 1!important;
}
a>.radio input[type="radio"] {
    opacity: 1!important;
}
.multiselect-container>li>a>label{
    padding: 3px 20px 3px 10px!important;
}
.badge, .btn {
    font-weight: 600;
    text-transform: capitalize !important;
}

.card-box:hover {
    /*    box-shadow: 0 1px 5px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
       transition: all 150ms linear; */
       -webkit-transform: none !important;
       transform: none !important;
       box-shadow: 0 20px 20px rgba(0,0,0,.1);
       -moz-box-shadow: 0 20px 20px rgba(0,0,0,.1);
       -webkit-box-shadow: 0 20px 20px rgba(0,0,0,.1);
   }
   .form-error{
       color: red !important;
   }
   .marksTotal-error{
    color: red !important ;
   }
   .phone-imput-error{
    border-color: #dd4b39 !important;
   }

.fixed_header{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_header tbody{
  display:block;
  width: 100%;
  overflow-y: scroll;
  min-height: 60px;
  max-height:160px;
}

.fixed_header thead tr {
   display: block;
}


.fixed_header th, .fixed_header td {
  padding: 5px;
  text-align: left;
  width: 200px;
}
.fixed_header-reports{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_header-reports tbody{
    display:block;
    width: 100%;
    overflow-y: scroll;
    min-height: 60px;
    max-height:500px;
  }

  .fixed_header-reports thead tr {
     display: block;
  }


  .fixed_header-reports th, .fixed_header-reports td {
    padding: 5px;
    text-align: left;
    width: 200px;
  }

  .w-200{
      width:140px!important;
      min-width: 140px!important;
  }
  .w-300{
    width:300px!important;

}
  .w-73{width:73px!important;}
  .p-30{
      padding-right:30px!important;
  }
  .th-w-300{
    width:360px!important;
    min-width:360px!important;
}

@media screen and (min-width: 1440px) {
    .fixed_header-reports th, .fixed_header-reports td {
        padding: 5px;
        text-align: left;
        width: 390px !important;
      }
  }

.checkbox-aqua-custom input[type="checkbox"]:checked+label::before {
    background-color: #1bf301 !important;
    border-color: #1bf301 !important;
    color: white !important;
}

.checkbox-custom-border label::before {
    border: 2px solid #1bf301 !important;
}

.settlement-report-table thead tr th, tbody {
    font-size: 12px;
}

.swal-title{
    font-size:18px !important;
}
