/* ul.multiselect-container li, header, .page-logo, .navbar-nav, span b { */
header, .page-logo, .navbar-nav, span b {
    float: right !important;
}

.page-header.navbar .top-menu {
    float: left;
}

label {
    float: right !important;
    font-size: 18px;
}

button.pull-right {
    float: left !important;
}

#publish-all-vouchers {
    float:left !important;
}

#unpublish-all-vouchers {
    float:left !important;
}

.pull-left, .txtOnline{
    float: right !important;
}

.page-breadcrumb{
    float: left !important;
}

.sidemenu-container .sidemenu .sub-menu li>a{
    display: block;
    margin: 0;
    padding: 8px 35px 8px 43px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    background: 0 0;
    text-align: right;
}

.sidemenu-container .sidemenu>li>a{
    display: block;
    position: relative;
    margin: 0;
    padding: 17px 15px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    text-align: right;
}

.sidemenu-container .sidemenu>li>a>.arrow:before{
    content: "\f104";
    right: revert;
    left: 14px;
}

.sidemenu-container .sidemenu>li.active>a{
    font-size: 18px;
}

.dropdown-menu{
    text-align: right;
    margin-right: -8px !important;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle>img{
    float: right;
}

span.username {
    padding-right: 5px;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-menu:after{
    right: 141px;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-menu:before{
    right: 140px;
}

.page-header.navbar .top-menu {
    float: left;
    margin-left: 20px;
}

thead tr, tbody tr, .dataTables_info{
    text-align: right;
}

tbody td {
    direction: ltr;
}

.language-dropdown{
    margin-right: -58px !important;
}

.language-dropdown-login{
    margin-right: -58px !important;
    left: -93px !important;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown{
    float: right;
}

div.dataTables_wrapper div.dataTables_filter {
    float: left;
}

.txtOnline {
    font-size: 13px;
}

.btn {
    font-size: 18px;
    padding: 10px 14px 2px;
}

.mdl-button {
    font-size: 18px;
}

.form-control {
    font-size: 18px;
}

.page-bar .page-breadcrumb>li>a{
    font-size: 18px;
}

.fa-home:before {
    font-size: 18px;
}

ul, li {
    font-size: 18px;
}

.table thead tr th td{
    font-size: 18px;
}

.table-striped > thead > tr > th
{
    /* font-weight:600 !important; */
    font-size:18px !important;
    /* padding:5px !important; */
}

.jconfirm-title-c {
    text-align: right !important;
}

.jconfirm-content-pane {
    text-align: right;
}

.jconfirm-buttons {
    float: left !important;
}

#radio-right::before{
    left:initial!important;
    right: -25px;
    top:2px;
}

#radio-right::after{
    left:initial!important;
    right: -22px;
    top:5px;
}

#check-box-right::before{
    left:initial!important;
    right: -25px;
    top:2px;
}

#check-box-right::after{
    left:initial!important;
    right: -24px;
    top:1px;
}

.checkbox-div {
    margin-top: 13px;
    margin-right: 10px;
}

.checkbox-div-alignment {
    margin-right: 14px;
}

#margin-top {
    margin-top: 17px;
}

.custom-float-right {
    float: right;
}

.fee-type-active {
    margin-top: -3px;
    font-size: 18px;
}

.p-t-20 {
    padding-top: 20px !important;
    margin-top: 10px;
}

.non-subject-cancel-btn {
    margin-left: 20px;
}
